<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <meta name="keywords" content="" />
          <meta name="description" content="" />
          <meta name="author" content="Pontus Sennerstam" />
          <title></title>

          <script
               src="https://kit.fontawesome.com/124ac6c2b5.js"
               crossorigin="anonymous"
          ></script>
          <link
               href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
               rel="stylesheet"
               integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
               crossorigin="anonymous"
          />
          <link rel="stylesheet" href="/style/css/style.css" />
     </head>
     <body>
          <section id="navabar">
               <div class="navbar-container">
                    <div class="logo-container">
                         <h1>Fixxo.</h1>
                    </div>

                    <!-- 
                     This might not be applying to ant principle when working with routes.
                     But it was a nice experiment. I had DRY in mind and looped out all links from a seperate file
                     to not repeat the action of adding "<router-link>" and with almost the same line of code for multiple links. 
                    -->

                    <div class="router-links">
                         <div v-for="route in routes" :key="route.routeId">
                              <ul class="d-flex">
                                   <li class="me-4 list-class">Home</li>
                                   <li class="list-class">Contact</li>
                              </ul>
                         </div>
                    </div>
                    <div class="icons-container">
                         <icon-component
                              icon="ion:search"
                              color="black"
                              size="18"
                         />
                         <icon-component
                              icon="ion:git-compare-outline"
                              color="black"
                              size="18"
                         />
                         <icon-component
                              icon="ph:heart-straight"
                              color="black"
                              size="18"
                              :has-notification="true"
                              notification-count="1"
                         />
                         <icon-component
                              icon="clarity:shopping-bag-line"
                              color="black"
                              size="18"
                              :has-notification="true"
                              notification-count="3"
                         />
                    </div>
               </div>
          </section>

          <section id="header" class="homeview-background">
               <div class="homeview-container">
                    <div class="image-container">
                         <img
                              src="https://img.freepik.com/free-photo/portrait-handsome-smiling-young-man-model-wearing-casual-summer-pink-clothes-fashion-stylish-man-posing_158538-5355.jpg?w=2000"
                              alt="Fashion-Model-Man-PNG-Image.png"
                         />
                    </div>

                    <div class="head-section-middle">
                         <h1>
                              SALE UP<br />
                              To 50% Off
                         </h1>
                         <p>Online shopping free home delivery over $100</p>
                         <shop-button-component
                              button-title="Shop now"
                              color="#ff7373"
                              hover-color="#ca5d5d"
                         />
                    </div>
                    <div class="image-container-right">
                         <img
                              src="https://img.freepik.com/premium-photo/studio-shot-restful-beautiful-caucasian-woman-sits-chair-wears-shirt-white-trousers-shoes_95891-1153.jpg?w=1380"
                              alt="Fashion-Model-Man-PNG-Image.png"
                         />
                    </div>
               </div>
          </section>

          <section id="display-section">
               <div class="display-card-section">
                    <div class="display-card-container">
                         <div class="display-left-card">
                              <div class="display-left-card-container">
                                   <div class="display-left-card-content">
                                        <h1 class="display-left-card-title">
                                             Winter Clearence <br />
                                             Up to 70% Off!
                                        </h1>
                                        <p>
                                             Sed ut perspiciatis unde omnis iste
                                             natus error sit voluptatem
                                             accusantium doloremque laudantium,
                                             totam rem apriam eaque ipsa quae ab
                                             illo inventore.
                                        </p>
                                        <div class="display-left-content-btn">
                                             <div
                                                  class="button-container"
                                                  :class="`button-container-${buttonId}`"
                                                  :style="`background:${color}`"
                                                  :id="buttonId"
                                                  @mouseover="animateIn"
                                                  @mouseout="animateOut"
                                             >
                                                  <div
                                                       class="left-bottom-border"
                                                       :class="`left-bottom-border-${buttonId}`"
                                                  ></div>
                                                  <div
                                                       class="left-top-border"
                                                       :class="`left-top-border-${buttonId}`"
                                                  ></div>
                                                  <div
                                                       class="right-bottom-border"
                                                       :class="`right-bottom-border-${buttonId}`"
                                                  ></div>
                                                  <div
                                                       class="right-top-border"
                                                       :class="`right-top-border-${buttonId}`"
                                                  ></div>
                                                  <div class="button-text">
                                                       Shop Now
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <img
                                        src="https://images.pexels.com/photos/1926769/pexels-photo-1926769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt=""
                                   />
                              </div>
                         </div>
                         <div class="display-right-card">
                              <div class="display-right-card-container">
                                   <div class="display-right-card-content">
                                        <h1 class="display-left-card-title">
                                             New <br />
                                             Arrivals
                                        </h1>

                                        <div class="display-left-content-btn">
                                             <div
                                                  class="button-container"
                                                  :class="`button-container-${buttonId}`"
                                                  :style="`background:${color}`"
                                                  :id="buttonId"
                                                  @mouseover="animateIn"
                                                  @mouseout="animateOut"
                                             >
                                                  <div
                                                       class="left-bottom-border"
                                                       :class="`left-bottom-border-${buttonId}`"
                                                  ></div>
                                                  <div
                                                       class="left-top-border"
                                                       :class="`left-top-border-${buttonId}`"
                                                  ></div>
                                                  <div
                                                       class="right-bottom-border"
                                                       :class="`right-bottom-border-${buttonId}`"
                                                  ></div>
                                                  <div
                                                       class="right-top-border"
                                                       :class="`right-top-border-${buttonId}`"
                                                  ></div>
                                                  <div class="button-text">
                                                       Shop Now
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <img
                                        src="https://images.pexels.com/photos/1183266/pexels-photo-1183266.jpeg"
                                        alt=""
                                   />
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          <section id="feature-section">
               <div class="featured-products-section">
                    <div class="featured-section-title">
                         <h3>Featured Products</h3>
                    </div>
                    <div class="featured-products-container">
                         <!-- Looping through the entire list of products and seperate them based on category.
                              Makes it smoother and I don't have to repeat myself in this case. I go with DRY this time instead.
                              With this "<component>" I can assign  the correct component by passing the category
                              to the ":is" prop. Then I don't need a "v-if" action to check which component to load.
                              Also SRP, the correspondend component has only one task, to present it's product type.
                              eg. "ShoeCardComponent" has the responsibility to present the shoes, and therefore has other properties to show,
                              and the product that comes in to ShoeCardComponent is defined as IShoe.
                             
                         -->
                         <div
                              class="feature-cards-contianer"
                              v-for="product in newProductList"
                              :key="product.id"
                         >
                              <!-- START OF SHOE CARD COMPONENT -->
                              <div
                                   class="featured-products-card"
                                   @mouseover="animateIn"
                                   @mouseout="animateOut"
                              >
                                   <div class="card-image">
                                        <img :src="item.imageUrl" alt="" />
                                        <div
                                             class="card-side-icons"
                                             :class="`card-side-icons-${cardId}`"
                                        >
                                             <div class="icon-seperator">
                                                  <icon-component
                                                       icon="ph:heart-straight"
                                                       color="black"
                                                       size="18"
                                                       :has-notification="true"
                                                       notification-count="1"
                                                  />
                                             </div>
                                             <div class="icon-seperator">
                                                  <icon-component
                                                       icon="ion:git-compare-outline"
                                                       color="black"
                                                       size="18"
                                                  />
                                             </div>
                                             <div class="icon-seperator">
                                                  <icon-component
                                                       icon="clarity:shopping-bag-line"
                                                       color="black"
                                                       size="18"
                                                       :has-notification="true"
                                                       notification-count="3"
                                                  />
                                             </div>
                                        </div>

                                        <div
                                             class="card-button-container"
                                             :class="`card-button-container-${cardId}`"
                                        >
                                             <quick-view-button-component
                                                  button-title="Quick view"
                                                  button-id="quickview"
                                                  color="#ff7373"
                                                  hover-color="#ca5d5d"
                                                  @open-quick-view="openQuickView(item)"
                                             />
                                        </div>
                                        <div class="card-content-background">
                                             <h3>{{ item.category }}</h3>
                                             <h1>{{ item.title }}</h1>
                                             <div class="card-ratings">
                                                  <div
                                                       class="card-ratings-container"
                                                       v-for="number in item.rating"
                                                       :key="number"
                                                  >
                                                       <Icon
                                                            icon="material-symbols:star"
                                                            class="card-ratings-icon"
                                                       />
                                                  </div>
                                             </div>
                                             <div
                                                  class="card-price"
                                                  v-if="!item.isOnSale"
                                             >
                                                  ${{ item.price }}
                                             </div>
                                             <div class="isOnSale" v-else>
                                                  ${{ item.salePrice }}
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <!-- END OF SHE CARD COMPONENT -->
                              <!-- START OF WATCH CARD COMPONENT -->

                              <div
                                   class="featured-products-card"
                                   @mouseover="animateIn"
                                   @mouseout="animateOut"
                              >
                                   <div class="card-image">
                                        <img :src="item.imageUrl" alt="" />
                                        <div
                                             class="card-side-icons"
                                             :class="`card-side-icons-${cardId}`"
                                        >
                                             <div class="icon-seperator">
                                                  <icon-component
                                                       icon="ph:heart-straight"
                                                       color="black"
                                                       size="18"
                                                       :has-notification="true"
                                                       notification-count="1"
                                                  />
                                             </div>
                                             <div class="icon-seperator">
                                                  <icon-component
                                                       icon="ion:git-compare-outline"
                                                       color="black"
                                                       size="18"
                                                  />
                                             </div>
                                             <div class="icon-seperator">
                                                  <icon-component
                                                       icon="clarity:shopping-bag-line"
                                                       color="black"
                                                       size="18"
                                                       :has-notification="true"
                                                       notification-count="3"
                                                  />
                                             </div>
                                        </div>

                                        <div
                                             class="card-button-container"
                                             :class="`card-button-container-${cardId}`"
                                        >
                                             <quick-view-button-component
                                                  button-title="Quick view"
                                                  button-id="quickview"
                                                  color="#ff7373"
                                                  hover-color="#ca5d5d"
                                                  @open-quick-view="openQuickView(item)"
                                             />
                                        </div>
                                        <div class="card-content-background">
                                             <h3>{{ item.category }}</h3>
                                             <h1>{{ item.title }}</h1>
                                             <div class="card-ratings">
                                                  <div
                                                       class="card-ratings-container"
                                                       v-for="number in item.rating"
                                                       :key="number"
                                                  >
                                                       <Icon
                                                            icon="material-symbols:star"
                                                            class="card-ratings-icon"
                                                       />
                                                  </div>
                                             </div>
                                             <div
                                                  class="card-price"
                                                  v-if="!item.isOnSale"
                                             >
                                                  ${{ item.price }}
                                             </div>
                                             <div class="isOnSale" v-else>
                                                  ${{ item.salePrice }}
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <!-- END OF WATCH CARD COMPONENT -->
                         </div>
                    </div>
               </div>
               <quick-view-component
                    v-if="quickView"
                    @close="quickView = false"
                    :product="product"
               />
          </section>

          <script
               src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
               integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
               crossorigin="anonymous"
          ></script>
          <script src="./script/script.js"></script>
     </body>
</html>
